@import url('https://fonts.googleapis.com/css?family=Baskerville:100,200,300,400,500,600,700|Rochester:100,200,300,400,500,600,700');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Baskerville, san-serif;
}

/*---------Colour Styling---------*/



/*---------Navbar Styling---------*/
.navbar {
    position: relative;
    min-height: 90px;
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #989572;
    overflow: hidden;
}

.navbar-light .navbar-brand {
    color: #e0d8de;
}

.navbar-brand {
    float: left;
    width: 10rem;
    font-family: Rochester;
    font-weight: bold;
    font-size: 200%;
}

.navbar-nav li {
    font-family: Baskerville, san-serif;
    font-weight: bold;
    font-size: 120%;
    display: block;
    float: right;
    margin-right: .5rem;
    color: #e0d8de;
}

.btn--cta{
    font-weight: bold;
    border-radius: 25px;
    width: 140px;
}

.btn--subscribe {
    background-color: #e0d8de;
    color: #4b3b47;
    border-color: #e0d8de;
}

.btn--subscribe:hover {
    background: #6a8e7f;
}

/*---------Landing Page Hero Image Styling---------*/

.callout-container {
    height: 100vh;
    background: url("../images/Landing_Page_Crochet_Image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

.about-me-section {
    font-size: 130%;
    font-family: Rochester;
    border-radius: 10%;
    width: 350px;
    height: 400px;
    padding-top: 40px;
    text-align: center;
    background-color: rgba(152,149,114, .8);
    bottom: 210px;
    left: 100px;
    position: absolute;
}

.about-me-title {
    color: #e0d8de;
    font-weight: bold;
}

.about-me-details {
    font-family: Baskerville, sans-serif;
    color: #e0d8de;
    font-size: 90%;
}

.shop-now-function {
    font-size: 130%;
    font-family: Rochester;
    border-radius: 50%;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 100px;
    background-color: rgba(145,166,255, .8);
    bottom: 300px;
    right: 130px;
    position: absolute;
    }

.shop-now-function .shop-now-link {
    color: #f2e9dc;
    font-weight: bold;
}

/*---------Footer Styling---------*/

footer {
    background-color: #989572;
    color: #e0d8de;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px;
    overflow: hidden;
}

.container-fluid {
    margin-top: 0;
}

#footer-details {
    padding: 10px;
    min-height: fit-content;
    font-weight: 500;
}

.contact-details {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 100%;
    display: block;
    position: relative;
}

.footer-subscribe {
    text-align: left;
}

footer .btn--subscribe {
    background-color: #e0d8de;
    color: #4b3b47;
    border-color: #e0d8de;
    width: 80%;
    height: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-media {
    margin-top: 1rem;
    position: relative;
}

.social-media li a i {
    width: 40px;
    height: 40px;
    padding: 15px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 10px;
    text-align: center;
    color: #4b3b47;
    background: #e0d8de;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-media li a i:hover {
    background: #6a8e7f;

/*---------Media Styling---------*/

@media(min-width: 992px) {               /* Our media query only takes affect when the width of the screen is larger than 992px */
    .footer-subscribe {
    display: hidden;
    }
}
