@import url('https://fonts.googleapis.com/css?family=Baskerville:100,200,300,400,500,600,700|Rochester:100,200,300,400,500,600,700');
*{
    margin:0;
    padding:0;
    border:0;
}
body{
    font-family: Baskerville, san-serif;
}

/*---------Navbar Styling---------*/
.navbar {
    position: relative;
    min-height: 90px;
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #989572;
    overflow: hidden;
}
.navbar-light .navbar-brand {
    color: #e0d8de;
}
.navbar-brand {
    float: left;
    width: 10rem;
    font-family: Rochester;
    font-weight: bold;
    font-size: 200%;
}
.navbar-nav li {
    font-family: Baskerville, san-serif;
    font-weight: bold;
    font-size: 120%;
    display: block;
    float: right;
    margin-right: .5rem;
    color: #e0d8de;
}
.btn--cta{
    font-weight: bold;
    border-radius: 25px;
    width: 140px;
}
.btn--subscribe {
    background-color: #e0d8de;
    color: #4b3b47;
    border-color: #e0d8de;
}
.btn--subscribe:hover {
    background: #727598;
}

/*---------Landing Page Styling---------*/
.callout-container {
    height: 120vh;
    background: url("../images/Landing_Page_Crochet_Image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

.about-me-section {
    clear: left;
    color: #e0d8de;
    background-color: rgba(152,149,114, .85);
    border-radius: 10%;
    text-align: center;
    padding: 1rem;
    width: 40%;
    font-size: 115%;
    bottom: 100px;
    overflow: hidden;
}

.about-me-title {
    font-family: Rochester;
    color: #e0d8de;
    font-weight: bold;
    margin: 10px;
}
.about-me-details {
    font-family: Baskerville, sans-serif;
    color: #e0d8de;
    font-size: 90%;
    margin: 10px;
}
.block-divider {
    width: 75px;
    height: 5px;
    margin: auto;
    border: 0;
    background-color: #704c5e;
}

.shop-now-function {
    display: inline-flexbox;
    font-size: 130%;
    font-family: Rochester;
    justify-content: center;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    background-color: rgba(114,117,152, .85);
    }

.shop-now-link {
    color: #f2e9dc;
    font-weight: bold;
    display: inline-flex;
}

.shop-now-link:hover {
    color: #303036;
    font-weight: bold;
}

/*---------Gallery Page Styling---------*/

.carousel-styling {
    width: 80%;
    height: 80%;
}

.carousel-text {
    font-family: Baskerville;
    font-weight: 700;
    font-size: 125%;
    background-color: rgba(152,130,114, .7);
    color: #e0d8de;
    border-radius: 3%;
}

/*---------Shop Page Styling---------*/

.shop-container {
    height: 200vh;
    background: url("../images/Shop_Page_Background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

.price-header {
    font-family: Rochester;
    font-weight: 700;
    font-size: 200%;
    text-align: center;
    background-color: rgba(152,149,114, .85);
    color: #e0d8de;
    margin: 1rem;
    padding: 10px;
    border-radius: 2%;
}

.price-container {
    background-color: rgba(152,149,114, .85);
    color: #e0d8de;
    border-radius: 2%;
    width: 100%;
}

.table-section-styling {
    font-family: Baskerville;
    font-weight: 600;
    font-size: 100%;
    border-radius: 2%;
    text-align: center;
    background-color: rgba(152,149,114, .85);
    color: #e0d8de;
}

.user-review-header {
    font-family: Rochester;
    font-weight: bold;
    text-align: center;
    font-size: 200%;
    margin-bottom: 10px;
}

.user-review-styling {
    clear: left;
    color: #e0d8de;
    font-family: Baskerville;
    font-weight: 400;
    background-color: rgba(149,114,152, .85);
    border-radius: 2%;
    margin-bottom: 1rem;
    margin-left: 20px;
    padding: 1.1rem;
    font-size: 80%;
    line-height: 1.3rem;
    position: relative;
    overflow: hidden;
    /*width: 19.3rem;
    left: 2px;
    top: 0rem;*/
}

.order-form-styling {
    /* clear: right; */
    align-items: center;
    color: #e0d8de;
    font-family: Baskerville;
    font-weight: 700;
    background-color: rgba(114,136,152, .85);
    border-radius: 2%;
    padding: 10px;
    font-size: 90%;
    position: relative;
    overflow: hidden;
    /*width: 19.5rem;
    left: 0rem;
    top: 0rem;*/
}

#inputProduct.form-control {
    font-family: Baskerville;
}

/*---------Footer Styling---------*/
footer {
    background-color: #989572;
    color: #e0d8de;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px;
    overflow: hidden;
}

.container-fluid {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#footer-contact-details {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: fit-content;
    font-weight: 500;
    text-align: center;
}

.contact-header {
    margin-bottom: 0;
}

.contact-details {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 100%;
    display: block;
    position: relative;
}

.footer-subscribe {
    text-align: center;
    /*display: none;*/
}

footer .btn--subscribe {
    background-color: #e0d8de;
    color: #4b3b47;
    border-color: #e0d8de;
    width: 80%;
    height: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-media {
    margin-top: 1rem;
    position: relative;
}

.social-media li a i {
    width: 40px;
    height: 40px;
    padding: 15px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 10px;
    text-align: center;
    color: #4b3b47;
    background: #e0d8de;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-media li a i:hover {
    background: rgb(114,117,152);
}


/*---------Media Styling---------*/

/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {
    .order-form-styling {
            clear: right;
    align-items: center;
    color: #e0d8de;
    font-family: Baskerville;
    font-weight: 700;
    background-color: rgba(114,136,152, .85);
    border-radius: 5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 90%;
    position: relative;
    overflow: hidden;
    width: 100%;
    top: 0rem;
    left: -15rem;
}*/

    .shop-container {
        height: 170vh;
}

    /*.table-section-styling {
        width: 100%;
    }

    /*.user-review-styling {
    left: -13rem;
    top: 1rem;      
}
} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .about-me-section {
    clear: left;
    color: #e0d8de;
    background-color: rgba(152,149,114, .8);
    border-radius: 10%;
    text-align: center;
    padding: 1rem;
    width: 60%;
    height: 70%;
    font-size: 115%;
    bottom: 100px;
    overflow: hidden;
}
    .social-media {
    margin-top: 1rem;
    position: relative;
    text-align: center;
}

    .contact-details {
    margin-top: 10px;
    font-size: 100%;
    display: block;
    position: relative;

}
    .shop-container {
        height: 135vh;
    }

    .table-section-styling {
    font-family: Baskerville;
    font-weight: 600;
    font-size: 100%;
    text-align: center;
    background-color: rgba(152,149,114, .85);
    color: #e0d8de;
    border-radius: 2%;
    }

    .order-form-styling {
    align-items: center;
    color: #e0d8de;
    font-family: Baskerville;
    font-weight: 700;
    background-color: rgba(114,136,152, .85);
    border-radius: 5%;
    padding: 10px;
    font-size: 90%;
    position: relative;
    overflow: hidden;
}

    .user-review-styling {
    clear: left;
    color: #e0d8de;
    font-family: Baskerville;
    font-weight: 400;
    background-color: rgba(149,114,152, .85);
    border-radius: 2%;
    margin-bottom: 1rem;
    margin-left: 20px;
    padding: 1.1rem;
    font-size: 80%;
    line-height: 1.3rem;
    position: relative;
    overflow: hidden;
}

}

/* Small devices (portrait tablets and large phones) */
@media only screen and (max-width: 600px) {
    .footer-subscribe {
        display: none;
    }

    .about-me-section {
    color: #e0d8de;
    position: absolute;
    background-color: rgba(152,149,114, .8);
    border-radius: 10%;
    text-align: center;
    padding: 1rem;
    width: 90%;
    height: 90%;
    font-size: 75%;
    bottom: 40px;
    overflow: hidden;
}

    .shop-now-function {
    clear: both;
    font-size: 30%;
    font-family: Rochester;
    justify-content: center;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    background-color: rgba(114,117,152, .8);
    }

    .shop-now-link {
    color: #f2e9dc;
}

    .shop-container {
        height: 375vh;
    }

   .table-section-styling {
    font-family: Baskerville;
    font-weight: 600;
    font-size: 100%;
    text-align: center;
    background-color: rgba(152,149,114, .85);
    color: #e0d8de;
    border-radius: 2%;
}

    .user-review-styling {
    clear: left;
    color: #e0d8de;
    font-family: Baskerville;
    font-weight: 400;
    background-color: rgba(149,114,152, .85);
    border-radius: 2%;
    margin-bottom: 1rem;
    margin-left: 20px;
    padding: 1.1rem;
    font-size: 80%;
    line-height: 1.3rem;
    position: relative;
    overflow: hidden;
    width: 19.3rem;
}

 .order-form-styling {
    align-items: center;
    color: #e0d8de;
    font-family: Baskerville;
    font-weight: 700;
    background-color: rgba(114,136,152, .85);
    border-radius: 2%;
    padding: 10px;
    font-size: 90%;
    position: relative;
    overflow: hidden;
    width: 19.5rem;
    
}

}
